.ranking {
    max-width: 80rem;
    margin: 0 auto;
}

.ranking__header {
    display: flex;
    margin: 0;
    border-bottom: 1px solid darken(#dadada, 10);
    padding: 10px 6px;
    background: #626262;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}

.header__index {
    flex: 1 10%;
}

.header__name {
    flex: 1 50%;
}

.header__vocation {
    flex: 1 20%;
}

.header__filter {
    flex: 1 20%;
}